@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-brand: "Henny Penny", system-ui;
  --font-heading: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
  --deepblue: #1d3557;
  --denim: #4a6fa5;
  --sky: #457b9d;
  --tealeaf: #a8dadc;
  --cream: #f1faee;
  --gold: #e9c46a;
  --vanilla: #f0ead2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
}

/*General Style*/

body {
  font-family: var(--font-body);
  background-color: var(--vanilla);
  color: var(--deepblue);
}
h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}
.brand-text {
  font-family: var(--font-brand);
  font-size: 1.8rem;
  color: var(--deepblue);
  margin: 0;
  letter-spacing: 0.05rem;
}
li,
a,
button {
  font-family: var(--font-body);
  font-weight: 500;
  font-size: 16px;
  color: var(--deepblue);
  text-decoration: none;
}
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
  height: 70px;
  background-color: var(--gold);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05 green, blue, alpha);
}
.logo {
  width: auto;
  height: 70px;
  margin-left: 0;
}

/*NAV BAR STYLE*/
nav {
  flex-grow: 1;
}
.nav__links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
}
.nav__links li {
  display: inline-block;
  padding: 0px 15px;
}
.nav__links li:not(.brand-link) a {
  font-family: var(--font-body);
  color: var(--deepblue);
  font-size: 18px;
  transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
  color: var(--vanilla);
}
button {
  padding: 9px 25 px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: var();
  color: white;
}
.brand-link {
  margin-right: auto;
  margin-top: 10px;
  margin-left: 0px;
}
.brand-link a {
  font-family: var(--font-brand);
  font-size: 1.7rem;
  color: var(--beige);
  margin-right: 40px;
}
.container {
  max-width: 1170px;
  margin: auto;
}
ul {
  list-style: none;
}

/*FOOTER STYLE*/
.footer {
  background-color: var(--deepblue);
  padding: 60px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: var(--vanilla);
  text-transform: capitalize;
  margin-bottom: 35px;
  font-family: var(--font-heading);
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--vanilla);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  font-family: var(--font-body);
  color: var(--vanilla);
  text-decoration: none;
  font-weight: 400;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: var(--sky);
  padding-left: 7px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: var(--vanilla);
  margin: 0 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease;
  color: var(--deepblue);
}
.footer-col .social-links a:hover {
  color: var(--vanilla);
  background-color: var(--sky);
}
.row {
  display: flex;
  flex-wrap: wrap;
}

/*Homepage HTML Page style*/

/*HERO STYLE*/
.hero-image {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/images_downloaded/neom-STV2s3FYw7Y-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-content {
  max-width: 800px; 
  padding: 20px;
  z-index: 1;
}
.hero-title {
  font-family: var(--font-heading);
  color: var(--gold);
  font-size: 4rem;
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  font-weight: 300;
}
.hero-subtitle {
  font-family: var(--font-body);
  color: var(--vanilla);
  padding-top: 15px;
  font-size: 1.1rem;
  font-weight: 600;
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}
.hero-btn {
  display: inline-block;
  padding: 15px 35px;
  background-color: var(--deepblue);
  color: var(--cream);
  text-decoration: none;
  border-radius: 70px;
  font-weight: bold;
  transition: transform 0.3s ease;
}
.hero-btn:hover {
  transform: scale(1.01);
}

/*About section style*/
.about-section {
  padding: 40px 5%;
  background-color: var(--vanilla);
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }
}
.about-image {
  flex: 1;
  max-width: 450px;
}
.founder-photo {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 15px 15px 0px var(--tea-leaf);
}
.about-text {
  flex: 1.2;
}
.about-text h2 {
  font-size: 45px;
  margin-bottom: 20px;
  color: var(--dark-slate);
}
.about-text p {
  line-height: 1.8;
  margin-bottom: 15px;
  color: black;
}
.about-cta {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  font-weight: bold;
  color: var(--deepblue);
  transition: transform 0.3s ease;
}
.about-cta:hover {
  transform: translateX(10px);
}
.section-padding {
  padding: 80px 10%;
  text-align: center;
}

/*FEATURES PAGE STYLE*/
.features {
  padding: 40px 5%;
  background-color: var(--gold);
}
.features h1 {
  color: var(--deepblue);
  font-size: 45px;
  padding-left: 20px;
}
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.card {
  width: 325px;
  background-color: var(--vanilla);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}
.card-content {
  padding: 16px;
}
.card-content h2 {
  font-size: 22px;
  margin-bottom: 8px;
}
.card-content p {
  margin-bottom: 10px;
}
.card img {
  width: 100%;
  height: 230px;
  display: block;
}
/*DESTINATIONS PAGE STYLE*/
.destinations {
  padding: 40px 5%;
  background-color: var(--deepblue);
  color: var(--cream);
}
.destinations h1 {
  font-size: 45px;
  padding-left: 20px;
  color: var(--cream);
}
.destinations-container {
  width: 100%;
  padding: 20px 0;
}
.slider {
  display: flex;
  gap: 8px;
  padding: 16px;
  list-style: none;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.list::-webkit-scrollbar {
  display: none;
}
.slide {
  flex-shrink: 0;
  width: 325px;
  height: 400px;
  margin: 1px;
  background-color: #fff;
  border-radius: 8px;
  scroll-snap-align: center;
  position: relative;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}
.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: var(--font-body);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding: 0 10px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}


/*FINAL STYLE*/
.final-title{
  font-size: 45px;
  padding-left: 20px;
  color: white;
}
.final-image {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/images_downloaded/slava-auchynnikau-PDqXaRw2M9o-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.final-content {
  max-width: 800px; 
  padding: 20px;
  z-index: 1;
}


/*PRICING STYLE*/
.pricing {
  padding: 40px 5%;
  background-color: var(--vanilla);
}
.pricing h1 {
  font-size: 45px;
  padding-left: 20px;
}
.pricing-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: stretch;
}
.pricing-card {
  width: 450px;
  min-height: 280px;
  background-color: var(--vanilla);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pricing-card-content {
  padding: 24px;
  font-size: 20px;
  margin-bottom: 16px;
}

/*Privacy HTML Page Style*/

/*PRIVACY PAGE STYLE*/
.privacy-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  line-height: 1.8;
  background-color: var(--deepblue);
  color: var(--cream);
}
.privacy-container h1 {
  margin-bottom: 20px;
}
.privacy-container h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.privacy-container ul {
  padding-left: 15px;
  margin-bottom: 20px;
}
.privacy-container li {
  margin-bottom: 10px;
  color: var(--cream);
}
.privacy-container a {
  color: var(--cream);
}

/*Contact HTML Page Style*/

/*CONTACT FORM STYLE*/
.form-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}
.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.form-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form-col label {
  font-weight: 700;
  font-family: var(--font-heading);
  font-size: 1.5rem;
  color: var(--deepblue);
}
.form-col input,
.form-col textarea {
  padding: 0.75rem 1rem;
  border: 1px solid var(--deepblue);
  border-radius: 2px;
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 500;
  background: transparent;
  color: var(--deepblue);
  transition: border-color 0.2s;
  width: 100%;
}
.form-col input:focus,
.form-col textarea:focus {
  outline: none;
  border-color: var(--deepblue);
}
.form-col textarea {
  resize: vertical;
  margin-bottom: 1.5rem;
}
.button-submit {
  display: block;
  margin: 20px auto;
  padding: 15px 35px;
  background-color: var(--deepblue);
  margin-top: 20px;
  color: var(--cream);
  text-decoration: none;
  border-radius: 70px;
  transition: transform 0.3s ease;
}
.button-submit:hover {
  background-color: var(--denim);
  color: var(--cream);
}

/*IMPRESSUM STYLE*/
.impressum {
  background-color: var(--denim);
}
.impressum-container {
  margin: 0 auto;
  padding: 2rem;
}
.impressum-container h1 {
  color: var(--cream);
  margin-bottom: 30px;
  font-family: var(--font-heading);
  font-weight: 400;
}
.impressum-container h2 {
  color: var(--cream);
  margin-bottom: 10px;
  font-family: var(--font-body);
  font-weight: 400;
}
.impressum-container h3 {
  color: var(--cream);
  margin-bottom: 10px;
  font-family: var(--font-body);
  font-weight: 400;
}

/*License HTML Page style*/

/*LICENSE CONTAINER*/
.license-container {
  max-width: 800px;
  margin-left: 0 auto;
  padding: 3rem 2rem;
  line-height: 1.8;
}
.license-container h1 {
  font-weight: 800;
  margin-bottom: 5px;
}
.license-container h2 {
  font-weight: 600;
  margin-bottom: 3px;
  margin-top: 10px;
}
.license-container h3 {
  font-weight: 400;
  font-family: var(--font-body);
  font-size: 14px;
}
.license-container p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-body);
}
.license-container ul {
  padding-left: 20px;
}
.license-container li {
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-body);
}

/*About HTML Page style*/

/*ABOUT US SECTION */
.about-us-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--deepblue);
  color: var(--gold);
}
.about-us-section {
  padding: 100px 10%;
  background-color: var(--deepblue);
}
.about-us-container p {
  color: var(--cream);
}

/*OUR TEAM STYLE*/
.team-container {
  background-color: var(--denim);
  color: var(--vanilla);
  padding: 60px;
  width: 100%;
}
.team-container-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  padding: 40px 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--denim);
  color: var(--vanilla);
}
.team-container-col {
  flex: 1;
  min-width: 180px;
  max-width: 220px;
  text-align: center;
}
.team-container-col img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}
.team-container-col h2 {
  color: var(--cream);
}
.team-container-col h3 {
  font-size: 20px;
  margin: 5 px 0;
  font-weight: bolder;
}
.team-container-col h4 {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: var(--font-body);
  font-weight: 500;
  color: var(--cream);
}
.team-container-col p {
  font-size: 14px;
  line-height: 1.4;
  color: var(--cream);
}

/*Company details*/
.company-facts {
  background-color: var(--cream);
  color: var(--deepblue);
  padding: 60px;
}
.company-facts h1 {
  margin-bottom: 10px;
}
.company-facts h2 {
  margin-bottom: 10px;
  font-weight: 600;
}
.company-facts h3 {
  margin-bottom: 5px;
  font-size: 14px;
  font-family: var(--font-body);
}

/*Trademark section*/
.trademark-section {
  background-color: var(--vanilla);
  color: var(--deepblue);
  padding: 60px;
}
.trademark-section h1 {
  margin-bottom: 20px;
}
.trademark-section h2 {
  margin-bottom: 10px;
}
.trademark-section h3 {
  font-weight: 600;
  margin-bottom: 10px;
}
.trademark-section p {
  margin-bottom: 10px;
  font-weight: 400;
}

/*Nizza Klassen*/
.nizza-klassen {
  padding: 60px;
  background-color: var(--gold);
  color: var(--deepblue);
}
.nizza-klassen h2 {
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: 1px;
}
.nizza-klassen h3 {
  margin-bottom: 10px;
  font-weight: 600;
}
.nizza-klassen p {
  margin-bottom: 10px;
  font-weight: 300;
}
